@keyframes squiggle-anim {
  0% {
    filter: url("#squiggle-0");
  }
  100% {
    filter: url("#squiggle-100");
  }
}

.squiggle {
  animation: squiggle-anim 0.43s linear infinite;
  font-size: 3rem;
  color: white;
}
