.container {
  height: 20em;
  border-radius: 8px;
  background-color: #1d2021;
  display: flex;
  justify-content: center;
  align-items: center;
}

:global(.post-list) .container {
  border-radius: 8px 8px 0px 0px;
}
